   .icons
    {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .icons-small
    {
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-top: 8px;
    }
    body
    {
        display:none;
        background: #3a7fd5;
        margin: 10px!important;
        background: linear-gradient(to right, #3a7fd5, #6ebce2);
    }

    table.dataTable tbody tr
     {
         background: black!important
     }
     .hide
     {
         display:none!important;
     }
     .show
     {
         display: block!important;
     }
     .logo
     {
      width: 50px;
      height: 50px;    
     }
     .powered
     {margin-top: -13px!important;
        position: absolute;
        margin-left: 220px;
        color: aqua;}

    .bar-head
    {
      background: linear-gradient(to left, #3a7fd5, #6ebce2);
      padding: 5px;
      border-bottom: 3px;
      margin-bottom: 10px;
      border-radius: 24px;
    }
#tradeConfiguration
    {
    display: none;
    /*min-width: 200px;
    max-width: 300px;
    
    margin: 0px auto;*/
    padding: 10px;

    }
    .ui-dialog-titlebar-close
    {
        float: left!important;
        margin-right: 13px!important;
        background: crimson!important;
        margin-top: -2px!important;
        color: white!important;
        cursor: pointer;
    }
    .btn-close-custom
    {background: #ccc;}
    #instrumentChartMain
    {
        display: none;
    }